#section {
    background-color: #34495e;
}

#second-section {
    background-color: #95a5a6;
    float: right;
}

#third-section {
    background-color: #e67e22;
}

#forth-section {
    background-color: #2ecc71;
    float: right;
}

.half2width {
    width: 50%;
    display: inline-block;
}

.doubleheight {
    height: 200%;
    display: inline-block;
}

.half2width p {
  text-align: center;
  color: #e74c3c;
}

.button-left {
  margin-left: 40px;
  margin-top: 40px;
  width: 500px;
  height: 175px;
  border-width: thick;
  color: #34495e;
}

.button-right {
  margin-left: 40px;
  margin-top: 40px;
  width: 500px;
  height: 175px;
  border-width: thick;
  color: #95a5a6;
}

#AwesomeTitle {
font-size: 72px;
font-family: Georgia;
color: #f1c40f;
text-align: center;
}

#AwesomeSubhead {
font-size: 48px;
font-family: Georgia;
color: #c0392b;
text-align: center;
}

.description {
  font-size: 24px;
  font-family: Georgia;
  color: #2c3e50;
}
