.nav-bar {
  margin: 0;
  padding: 0;
  height: auto;
  list-style-type: none;
  background-color: #102f60;
  overflow: hidden;
}

.nav-item {
  margin: 0px;
  display: block;
  padding: 14px 16px;
  float: left;

}

.nav-item:hover {
  background-color: #051630;
}

.nav-item a {
  float: right;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
}

#head-four-one {
  text-align: center;
  font-family: "Open Sans";
  font-size: 30px;
  color: #1a54af;
}

#head-one-one {
  text-align: center;
  font-family: "Open Sans";
  font-size: 120px;
  color: #102f60;
}


#head-three-one {
  text-align: left;
  font-family: "Open Sans";
  font-size:72px;
  color: #1a54af;
}

#head-one-two {
  text-align: center;
  font-family: "Open Sans";
  font-size: 72px;
  color: #102f60;
}

#head-three-two {
  text-align: center;
  font-family: "Open Sans";
  font-size: 48px;
  color: #1a54af;
}

#over-head-one{
  position: absolute;
  top: 80px;
  display: inline;
  left: 30px;
  color: #102f60;
  width: 100%;
}

#over-head-three{
  position: absolute;
  top: 600px;
  display: inline;
  left: 540px;
  color: #1a54af;
  width: 100%;
}

#small-text-one{
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  color: #1a54af;
}

#over-small-text {
  position: absolute;
  top: 120px;
  display: inline;
  left: 60px;
  color: #1a54af;
  width: 100%;
}

#canvas {
  height: 900px;
  width: 900px;
  margin: auto;
  display: block;
}

#Contact-Me {
  text-decoration: none;
  background-color: skyblue;
  color: darkblue;
  font-size: 24px
}

#one-section-one {
height: 100%;
width: 100/3%;
display: inline-block;
background-color: red
}

#one-section-two {
height: 100%;
width: 100/3%;
display: inline-block;
background-color: yellow
}

#one-section-three {
height: 100%;
width: 100/3%;
display: inline-block;
background-color: green
}
