.nav-bar {
  margin: 0;
  padding: 0;


}

.nav-item {
  background-color: #102f60


}

.nav-item a {
  text-decoration: none;
  font-size: 14;
  color: white

}

.nav-bar-button {


}

.nav-item:hover {


}
